.encabezado {
    background-color: #8fcfef;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    transition: background-color 1s linear;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #eda2d3;
}