.encabezado {
    background-color: #8fcfef;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.barra_navegacion {
    display: flex;
    margin-right: 0px;
}

.barra_navegacion a {
    display: block;
    padding: 8px 8px; 
    
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

.logo {
    margin-right: auto; /* Mueve el logo hacia la izquierda */
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.logo img {
    width: 55px;
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    transition: background-color 1s linear;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6adfff;
}

/* Estilos para el contenedor de la imagen */
div[style="text-align: left"] {
    text-align: left; /* Alineación a la izquierda del contenido */
    display: flex; /* Utilizamos flexbox para alinear verticalmente */
    align-items: center; /* Alineación vertical centrada */
}

/* Estilos para la imagen del logo */
div[style="text-align: left"] img {
    display: block; /* Para que la imagen se muestre como un bloque */
    width: 60px; /* Ancho deseado */
    height: 60px; ; /* Altura automática para mantener la proporción */
}


/* Estilos para el pie de página */
footer {
    background-color: #8fcfef;
    color: #0b0a0a; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para la lista dentro del pie de página */
.pie-de-pagina {
    display: flex; /* Utilizamos flexbox para distribuir los elementos */
    justify-content: space-between; /* Distribuye los elementos alrededor */
    max-width: 800px; /* Ancho máximo del pie de página */
    margin: 0 auto; /* Centra el pie de página horizontalmente */
}

/* Estilos para los párrafos dentro del pie de página */
.pie-de-pagina p {
    margin-bottom: 10px; /* Espaciado inferior entre párrafos */
}





