.Contenido {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px; 
}

h2{
    color:#9A1750
}

.texto {
    flex: 1;
    margin-right: 20px; 
}

@keyframes moverDerecha {
    0% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(100px); 
    }
}


.imagen {
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin-top: 20px; 
    display: none; 
    
}

.imagen img {
    max-width: 90px; 
    animation: moverDerecha 4s ease-in-out forwards;
}

.imagen:hover img {
    display: block; 
}


.ejemplos {
    
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin-top: 20px; 
}


.ejemplos img {
    width: 200px; 
    height: auto; 
    margin-bottom: 10px; 
    animation: moverDerecha 4s ease-in-out forwards;
}
