.Contenido {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto distribuye el espacio entre el texto y la imagen */
    margin-bottom: 20px; /* Espacio entre cada secci칩n */
}

.texto {
    flex: 1;
    margin-right: 20px; /* Espacio entre el texto y la imagen */
}

@keyframes moverDerecha {
    0% {
        transform: translateX(0); /* Sin movimiento al inicio */
    }
    50% {
        transform: translateX(100px); /* Mover hacia la derecha */
    }
    100% {
        transform: translateX(0); /* Volver a la posici칩n inicial */
    }
}

.imagen img {
    max-width: 500px; /* Tama침o m치ximo de la imagen */
    animation: moverDerecha 4s ease forwards; 
}
